* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* index.css */

/* Добавляем стили к контейнеру, в котором размещается компонент LabelBottomNavigation */
.bottomNavigationContainer {
  position: fixed; /* Фиксируем позицию элемента */
  bottom: 0; /* Размещаем его внизу */
  width: 100%; /* Занимаем всю ширину страницы */
  z-index: 1000; /* Устанавливаем z-index, чтобы наш компонент находился выше другого контента */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Добавляем небольшую тень для выделения */
}


/* Устанавливаем серый цвет фона для всего сайта */
body {
  background-color: rgba(168, 147, 144, 0.88);
}
